#Inicio{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: hsla(0, 0%, 0%, 0.75); /* black with opacity*/
    z-index: 2;
}
#content{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
#Fin{
    font-size: 3em;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: hsla(115, 100%, 17%, 0.75); /* green with opacity*/
    z-index: 3;
}
.cajaFin{
    width: 17em;
}